.NameImage{
    object-position: center top;
}

.ProfilePicture{
    width: 150px;
    height: 150px;
    object-position: center top;
    border-radius: 50%;
    border: 1px solid grey; 
    align-items: flex-start
}

.UserDetails{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Buttons{
   
    display:flex;
}

